{% extends "page.html" %}

{% block header %}
<script>
  function set_read_to(d,article_id) {
    $.post('{% url narrative_read_to slug=narrative.slug %}', {date: d});

    $('.read_to').hide();
    $('#' + article_id).before("<li class='read_to'>you've read to here.</li>");
  }
</script>
{% endblock %}

{% block content %}
<a href='{% url home %}' style='float:right;'>home</a>
  <h3>{{ narrative.title }}</h3>
  <ul class='searches'>
  {% for search in narrative.guardiansearch_set.all %}
    <li class='search'>{{ search.term }} {{ search.tags }}</li>
  {% endfor %}
    <li><a href=''>add search terms</a></li>
  </ul>
  <div class="clear"></div>
  <a href='{% url flush_narrative slug=narrative.slug %}'>flush cache</a>
  <ul class="articles">
    {% for date, articles in grouped_articles %}
      <li class='date_tag'>{{ date }}</li>
      {% for result in articles %}
        {% if result.read_to %}
        <li class='read_to'><a href='{% url narrative_slug slug=narrative.slug %}'>you've read to here. click to hide read articles</a></li>
        {% endif %}
        <li class="article{% if result.istoday %} today{% endif %}{% if result.thisweek %} thisweek{% endif %}" id='{{ result.ordinal }}'>
        <a onclick='javascript:set_read_to("{{ result.date.isoformat }}Z","{{ result.ordinal }}");' style='float:right;'>&lt;</a>
        <a href='{{ result.url }}' class='title'>{{ result.headline }}</a>
        {% if result.quote %}<br/><a href='{{ result.url }}' style='text-decoration:none;' class='summary'>{{ result.quote }}</a>{% endif %}
        <br/><small style="display:none;">{% for search in result.search %}{{ search.term }} {{ search.tags }} {% endfor %}</small><div class='clear'></div></li>
      {% endfor %}
    {% endfor %}
    {% if not show_all %}
      <div class='read_to'><a href='{% url narrative_slug_all slug=narrative.slug %}'>you've read to here. click to show all articles</a></div>
    {% endif %}
  </ul>
{% endblock %}

