{% extends "page.html" %}

{% block content %}
  <h3>{{ narrative.title }}</h3>
  <ul class='searches'>
  {% for search in narrative.guardiansearch_set.all %}
    <li class='search'>{{ search.term }} {{ search.tags }}</li>
  {% endfor %}
    <li><a href=''>add search terms</a></li>
  </ul>
  <div class="clear"></div>
  <a href='{% url flush_narrative slug=narrative.slug %}'>flush cache</a>
  <ul class="articles">
    {% for date, results in grouped_articles %}
      <li class='date_tag'>{{ date }}</li>
      {% for result in results %}
        {% if result.read_to %}
        <li class='read_to'>you've read to here</li>
        {% endif %}
        <li class="article{% if result.istoday %} today{% endif %}{% if result.thisweek %} thisweek{% endif %}"{% if result.last_unread %} id='last_unread'{% endif %}>
        <a onclick='' style='float:right;'>&lt;</a>
        <a href='{{ result.webUrl }}' class='title'>{{ result.webTitle }}</a>
        {% if result.firstpara %}<br/><a href='{{ result.webUrl }}' style='text-decoration:none;' class='summary'>{{ result.firstpara }}</a>{% endif %}
        <br/><small style="display:none;">{% for search in result.search %}{{ search.term }} {{ search.tags }} {% endfor %}</small><div class='clear'></div></li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}

