{% extends "page.html" %}

{% block header %}
<script>
  function set_read_to(d,article_id) {
    $('.read_to').hide();
    $('#' + article_id).before("<li class='read_to'>you've read to here.</li>");
    $.post('{% url narrative_read_to slug=narrative.slug %}', {date: d});
  }

  function vote_up(ordinal, article_id, narrative_id) {
    $('#' + ordinal).addClass('upvoted');
    $.post('{% url article_vote slug=narrative.slug %}', {article_id: article_id, up: true});
    return false;
  }
  
  function vote_down(ordinal, article_id, narrative_id) {
    //$('#' + ordinal).hide();
    $('#' + ordinal).addClass('downvoted');
    $.post('{% url article_vote slug=narrative.slug %}', {article_id: article_id, up: false});
    return false;
  }
</script>
{% endblock %}

{% block content %}
<a href='{% url home %}' class='home_button'>home</a>
{% if request.user.is_staff %}
  <a href='{% url flush_narrative slug=narrative.slug %}' class='flush_button'>flush</a>
{% endif %}
  <h3>{{ narrative.title }}</h3>
  <small>content from <a href='http://www.guardian.co.uk'>the Guardian</a></small>
  <ul class='searches'>
  {% for search in narrative.guardiansearch_set.all %}
    <li class='search'>{{ search.term }} {{ search.tags }}</li>
  {% endfor %}
    <li><a href=''>add search terms</a></li>
  </ul>
  <div class="clear"></div>
  <ul class="articles">
    {% for date, articles in grouped_articles %}
      <li class='date_tag'>{{ date }}</li>
      {% for result in articles %}
        {% if result.read_to %}
        <li class='read_to'><a href='{% url narrative_slug slug=narrative.slug %}'>you've read to here. click to hide read articles</a></li>
        {% endif %}
        <li class="article{% if result.istoday %} today{% endif %}{% if result.isthisweek %} thisweek{% endif %}" id='{{ result.ordinal }}'>
        <div class='vote_buttons'><a class='vote_up' onclick='javascript:vote_up("{{ result.ordinal }}", "{{ result.id }}", "{{ narrative.slug }}")' alt='approve'>+</a><a class='vote_down' onclick='javascript:vote_down("{{ result.ordinal }}", "{{ result.id }}", "{{ narrative.slug }}")' alt='dismiss'>-</a></div>
        {#<a onclick='javascript:set_read_to("{{ result.date.isoformat }}Z","{{ result.ordinal }}");' style='float:right;'>&lt;</a>#}
        <a href='{{ result.url }}' class='title'>{{ result.headline }}</a>
        {% if result.quote %}<br/><a href='{{ result.url }}' style='text-decoration:none;' class='summary''>{{ result.quote }}</a>{% endif %}
        <br/><small style="display:none;">{% for search in result.search %}{{ search.term }} {{ search.tags }} {% endfor %}</small><div class='clear'></div></li>
      {% endfor %}
    {% endfor %}
    {% if not show_all %}
      <div class='read_to'><a href='{% url narrative_slug_all slug=narrative.slug %}'>you've read to here. click to show all articles</a></div>
    {% endif %}
  </ul>
{% endblock %}

