form.create_narrative {
  width:100%;
}

#example_articles {

}

#example_articles > .article_url > input {
  min-width:320px;
}

#example_articles > .article_url {
  clear:left;
  margin-bottom:0.5em;
  width:100%;
}

#example_articles > label {
  display:block;
  float:left;
  clear:left;
  width:200px;
}
