  * {
    border: 0;
    margin: 0;
    padding: 0;
  }
 
  body {
    margin:auto;
    width:996px;
    font-family: 'georgia', serif;
    font-size: 1.0em;
    background:#333;
    color:#EEE;
  }

  small {
    color:#666;
  }

  a {
    color:#FFF;
  }

  a:hover {
    color:#FFF;
  }

  a:visited {
    color:#FFF;
  }

  .clear {
    clear: left;
  }

  ul.narratives {
    list-style:none;
  }

  ul.narratives > li.narrative {
    margin-bottom:1em;
    clear:left;
  }

  li.narrative > .summary {
    margin-top:0.5em;
    margin-bottom:0.5em;
  }

  a.summary {
    color:#ccc;  
  }

  li.article > a.title {
    font-size:1.2em;
  }

  li.narrative > h2 {
    background:#222;
    padding:0.2em;
  }

  li.narrative > h2 > a {
    text-decoration:none;
  }
  
  ul.searches {
    display:none;
    list-style:none;
  }

  ul.searches > li, li.search {
    float: left;
    padding:0.1em;
    margin-left:0.1em;
    font-size:0.8em;
    color:#666;
  }
 
  ul.articles {
    margin-top:1em;
    list-style:none;
  }

  li.article {
    padding:0.25em;
    padding-bottom:0.5em;
  }

  li.article:hover {
  }

  li.thisweek {
    background: #222;
  }

  li.today {
    background: #111;
  }

  li.article .date {
    display:block;
    float:left;
    width:12em;
    font-size:0.8em;
    color:#666;
  }

  .date_tag {
    background:#111;
    padding:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
  }

  .read_to {
    background:#FC0;
    padding:0.5em;
    color:black;
  }

  @media only screen and (max-device-width: 480px) {
    body {
      width:100%;
      font-size:1.2em;
    }

    li.narrative > .summary {
      display:none;
    } 
  }
